/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'Mohr Rounded Black';
    src: url('./fonts/MohrRounded-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Mohr Rounded Medium';
    src: url('./fonts/MohrRounded-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Mohr Rounded Bold';
    src: url('./fonts/MohrRounded-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bagrile';
    src: url('./fonts/Bagrile.otf') format('opentype');
}
:root{
    font-size: 0.52083vw;
    --beige: #FFFAEC;
    --dark-blue: #072D5F;
    --light-blue: #1699DA;
    --orange: #FFBD00;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Mohr Rounded Black', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mohr Rounded Bold', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--dark-blue);
    padding: 1rem 6.4rem 1rem 6.4rem;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    max-width: fit-content;
}
h1{
    display: flex;
    font-family: 'Bagrile', sans-serif;
    font-weight: 100;
    color: var(--dark-blue);
    line-height: 5.5rem;
    font-size: 5rem;
}
h3{
    font-family: 'Bagrile', sans-serif;
    color: var(--orange);
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 100;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--beige);
    height: 11.39rem;
}
p{
    color: var(--dark-blue);
    font-size: 1.6rem;
    line-height: 2.5rem;
}
section:not(:first-child){
    position: relative;
    top: -56.2rem;
}
.container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.header-left{
    display: flex;
    gap: 3.5rem;
}
.header-right{
    display: flex;
    gap: 2.6rem;
}
.menu-option, .lang-select{
    display: flex;
    align-items: center;
    color: var(--dark-blue);
    font-size: 2rem;
    text-transform: uppercase;
}
.menu-socials{
    display: flex;
    gap: 2.6rem;
    margin-left: 3.8rem;
    margin-right: 5.6rem;
}
.menu-socials svg{
    width: 3rem;
}
.logo{
    margin-left: 20rem;
    margin-right: 12.7rem;
}
.lang-select{
    display: flex;
    gap: 0.9rem;
    margin-right: 11.6rem;
}
.arrow{
    display: flex;
    align-items: center;
}
/*
#cow-pasture{
    width: 100vw;
    height: 100vh;
    background-position-y: 80%;
    background-position-x: 10%;
    background-image: url(./img/edit_cow-pasture-sunny-day-agriculture-switzerland-photo-high-resolution.png);
}
*/
.hero{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--beige);
    font-size: 10rem;
    font-family: Bagrile, sans-serif;
    margin-top: 16rem;
    margin-left: 68rem;
    z-index: 10;
    position: absolute;
}
#hero-section{
    overflow: hidden;
}
#hero-img{
    position: relative;
    overflow: hidden;
}
#hero-img > img{
    width: 145%;
    position: relative;
    top: -55rem;
    overflow: hidden;
    z-index: 2;
}
.splash1{
    position: absolute;
    left: -25%;
    top: 30rem;
    width: 95%;
    z-index: 100;
}
.splash1 img{
    width: 175.5rem;
}
.splash2{
    position: absolute;
    left: 32%;
    top: 60rem;
    z-index: 1;
    width: 101%;
}
.splash3{
    position: absolute;
    right: 80%;
    top: 270rem;
    width: 60%;
    z-index: 0;
}
.splash4{
    position: absolute;
    left: 35%;
    top: 410rem;
    z-index: -5;
    width: 90%;
}
.splash4 > img{
    width: 163rem;
}
.splash5{
    position: absolute;
    right: 55%;
    top: 585rem;
    z-index: -5;
    width: 70%;
}
.btn-top-margin{
    margin-top: 5rem;
}
#hero-subtext{
    position: absolute;
    top: 70rem;
    margin-left: 36rem;
    line-height: 3.2rem;
    font-family: 'Mohr Rounded Bold', sans-serif;
    color: var(--beige);
    max-width: 65rem;
    z-index: 101;
    font-size: 2rem;
}
#grid-about{
    display: grid;
    grid-template-columns: 1.11fr 1fr;
    position: relative;
    top: -56rem;
    background-color: var(--orange);
}
.grid-item > img{
    width: 100%;
}
.grid-item{
    position: relative;
    z-index: 10;
}
#about{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-left: 8.5rem;
    background-color: var(--beige);
}
#about > h1{
    max-width: 40rem;
}
.underline > svg{
    width: 10rem;
    max-width: 97px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
#about > p{
    max-width: 47rem;
    margin-top: 2rem;
}
#history{
    padding-left: 36rem;
    background-color: var(--orange);
}
#history > h1{
    padding-top: 7rem;
}
#carousel{
    display: flex;
    position: relative;
    gap: 5rem;
    background-image: url(./img/Group\ 262.svg);
    background-repeat: no-repeat;
    background-position: 50px 3rem;
}
.carousel-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    gap: 4.5rem;
}
.carousel-text{
    display: flex;
    font-family: 'Mohr Rounded Medium', sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    color: var(--beige);
    max-width: 25rem;
    text-align: center;
}
.carousel-img{
    width: 25rem;
}
.carousel-img > img{
    width: 100%;
}
.carousel-gradient{
    width: 75rem;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
    background: rgb(251,251,251);
    background: linear-gradient(90deg, rgba(251,251,251,0) 0%, rgba(255,189,0,1) 55%);
}
#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}
#products > h1, #products > .underline{
    display: flex;
    justify-content: center;
}
.products-container{
    display: flex;
    position: relative;
    top: -8rem;
}
.products-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}
.products-column:first-child{
    margin-top: -25rem;
    margin-left: 30rem;
}
.right-column{
    gap: 0rem;
    position: relative;
    right: 30rem;
    top: 3rem;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAEC;
    max-width: 30rem;
    padding-top: 11.5rem;
    padding-bottom: 4.5rem;
    border-radius: 24px;
}
.product-header{
    font-size: 3rem;
    color: var(--dark-blue);
    line-height: 4.7rem;
    margin-bottom: 1.5rem;
}
.product-desc{
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    color: var(--dark-blue);
    font-family: 'Mohr Rounded Medium', sans-serif;
}
.product-img{
    position: relative;
    width: 100%;
}
/* product img positions */
.maslo > .product-img{
    top: 20rem;
    left: -11rem;
    width: 96rem;
}
.tvaroh{
    margin-top: -31rem;
}
.tvaroh > .product-img{
    top: 20rem;
    left: -3rem;
    width: 69rem;
}
.powder{
    position: relative;
    bottom: 5rem;
}
.powder > .product-img{
    top: 9rem;
    left: 3rem;
    width: 100rem;
}
.smetana{
    position: relative;
    top: 5rem;
    margin-top: -25rem;
}
.smetana > .product-img{
    top: 27rem;
    width: 91rem;
}
.product-img img{
    width: 100%;
    height: auto;
}
.product-detail{
    display: flex;
    align-items: center;
    color: var(--light-blue);
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 5.2rem;
    gap: 2rem;
}
.product-detail img{
    width: 2.3rem;
    height: 1.4rem;
    margin-top: 0.33rem;
}
.socials{
    display: flex;
    gap: 30rem;
    margin-bottom: 7rem;
    margin-right: 18rem;
}
.socials p{
    max-width: 43rem;
}
.soc-media{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4rem;
}
.soc-media > a{
    color: var(--dark-blue);
    font-size: 3rem;
}
.soc-media > img{
    width: 5rem;
    height: 5rem;
}
.socials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
}
#products-grid{
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
#products-grid > .grid-item{
    width: 48rem;
    overflow: hidden;
}
#products-grid > .grid-item > img{
    transform: scale(1.25); 
}
#partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    margin-left: 45rem;
}
#partners img{
    width: 18.3rem;
}
.wrapper{
    display: flex;
    justify-content: center;
    gap: 7.6rem;
    margin-bottom: 6rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    margin-top: -50rem;
    padding-bottom: 4rem;
}
footer button{
    color: var(--beige);
    font-size: 1.5rem;
    width: 20rem;
    padding: 0.8rem 2.9rem 0.8rem 2.9rem;
}
.footer-bottom, .footer-top{
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    padding-left: 40rem;
}
.footer-logo{
    margin-top: 4rem;
}
.footer-logo > img{
    width: 15.4rem;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 3.7rem;
    margin-top: 6.5rem;
    margin-bottom: 6rem;
}
.footer-socials img{
    width: 3.7rem;
    height: 3.7rem;
}
.footer-bottom{
    gap: 16rem;
}
footer p{
    color: var(--beige);
    font-family: 'Mohr Rounded Bold', sans-serif;
    line-height: 2.5rem;
}
.footer-address{
    color: var(--beige);
    font-family: 'Mohr Rounded Bold', sans-serif;
    line-height: 2.5rem;
    font-size: 1.6rem;
    margin-bottom: 4.7rem;
}
.footer-left, .footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}
.footer-left{
    margin-top: 14rem;
}
.footer-right{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-center img{
    width: 15rem;
}
.contact{
    font-family: 'Mohr Rounded Bold', sans-serif;
    line-height: 4.4rem;
    font-size: 2.8rem;
    color: var(--beige);
    margin-bottom: 5.5rem;
}
.footer-menu{
    font-family: 'Mohr Rounded Bold', sans-serif;
    color: var(--beige);
    font-size: 1.6rem;
    line-height: 3.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 1920px) {
    :root {

    }
  }